.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav-text {
  color: #00AEEF;
}

.heading1 {
  font-weight: 600;
  font-family: 'Lato', sans-serif;
text-align: center;
color: #00AEEF;
margin-bottom: 30px;
}

.logos-flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.logos-flex-item {
  width: 200px;
  height: 80px;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 970px) {
  .logos-flex-item {
  width: 140px;
  height: 80px;
  margin-top: 10px;
  text-align: center;
}
}

.livestream-page__day-date {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.livestream-page__day-table {
  border: 1px solid #f6f5f6;
  border-radius: 20px;
}

.livestream-page__day-table-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #f6f5f6;
  padding: 20px;
}

.pinkbutton {
    background-color: #EC008C;
        color: #fff !important;
}

.yellowbutton {
    background-color: #ffcb05;
    margin-left: 10px;
        color: #fff !important;
}

.navlink {
    color: #00AEEF !important;
}

.sticky{
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index : 100;
}


.content{
  height: 200vh;
}


/* .flex-item img {
  width:200px;
}
 */

